

        {% extends "base.html"%} 

        {% block content %} 

        <main class="cont-main"> 

          <div class="contenedor-shows"> 

          <div class="contenedor-divididos">
          <img src="../static/images/divididos.png" alt=""> 
          </div> 
        
           <div class="contenedor-delioValdez">
            <img src="../static/images/ladelio.png" alt="">
           </div>
          
           <div class="contenedor-theBeats">
            <img src="../static/images/thebeats.png" alt="">
           </div>
        
           </div>  

        </main>

        {% endblock %} 
