<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}"> 


    <title>Document</title>
</head>
<body> 

    <header class="cont-header"> 
        <div class="logo">
            <a href="{{url_for('home')}}"> <img src="../static/images/ticket.jpg" alt="logo"></a>

            <h2 class="nombre-empresa">Green Tickets</h2>
        </div> 
        <nav class="cont-nav">
            <a href="{{url_for('home')}}">Home</a></li>
            <a href="{{url_for('comprar_tickets')}}" class="nav-link">Buy</a></li>
            <a href="{{url_for('ver_ubicaciones')}}" class="nav-link">Tickets</a></li>
        </nav>

    </header> 

    <main class="cont-main"> 

        <table>
            <thead>
                <th>Nombre y Apellido</th>
                <th>Email</th>
                <th>Show</th>
                <th>Ubicación</th>
                <th>Medio de Pago</th> 
            </thead> 
            <tbody id="tablaTickets">
                
            </tbody>  
        </table>




    </main>

    <footer class="cont-footer">
        <h2 class="info-footer">@bluetickets.com</h2> 
    </footer> 
    


    <script src="../static/boleteria.js"></script>

</body>
</html>